* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}


.blue {
    @extend %main-font;
}


@media #{$wide-desktop} {
    .center {
        width: 1024px;
        margin: 0 auto;
    }
}