.contact {
    @include section-stack(white);
    display: flex;
    flex-direction: column;
    text-align: center;

    .contact__form {
        text-align: left;

        .contact__header {
            @include section-header;
        }

        label {
            border: none;
        }

        input,
        textarea {
            font-size: 1em;
            border: 1px solid $main-color;
            margin: 0.25em;
            padding: 0.25em;
        }
    }

    .contact__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1em;

        input[type=checkbox] {
            width: 50px;
            height: 50px;
        }

        .contact__info-button {
            @include main-button ($main-color, white);
            margin-top: 1em;
        }

        img {
            width: 100%;
            padding: 1em;
        }
    }
}

@media #{$desktop} {
    .contact {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1em;

        .contact__form {
            flex-basis: 50%;

            .contact__header {
                font-size: 2.5em;
            }

            input,
            textarea {
                width: 100%;
                font-size: 1.5em;
                border: 1px solid $main-color;
                margin: 0.25em;
                padding: 0.25em;
            }
        }

        .contact__info {
            flex-basis: 40%;

            input[type=checkbox] {
                width: 20px;
                height: 20px;
            }
        }
    }
}