.header {
    background-color: black;
    width: 100vw;
    height: 10vh;

    .nav {
        color: white;
        text-transform: uppercase;


        .nav__logo {
            font-size: 3em;
            font-weight: bold;
            line-height: 10vh;
            text-align: center;
        }

        .nav__menu {
            position: fixed;
            top: 1em;
            left: 1em;
            font-size: 3em;
        }

        .hamburger-button-hidden {
            display: none;
        }

        .nav__list {
            position: fixed;
            top: 0;
            right: 0;
            width: 0;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
            margin-top: 10em;
            z-index: 100;
            list-style: none;



            .nav__list-item {
                font-size: 3em;
                font-weight: 700;
                padding: 1em;

                .nav__list-link,
                .nav__sublist-link {
                    padding-left: 1em;
                    line-height: 150%;
                    color: white;
                    list-style: none;
                    text-decoration: none;
                }
            }

        }

        .mobile-menu-open {
            width: 30vh;
        }

    }

}