.pricelist {
    @include section-stack(#ddd);

    .pricelist__header {
        @include section-header;
    }

    .pricelist__wraper {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        padding: 40px 0;


        .pricelist___plan {
            padding: 1em 0;
            /* kontener */
            display: flex;
            flex-direction: column;
            align-items: stretch;
            text-align: center;
            line-height: 50px;
            border: 1px solid gray;
            position: relative;

            .smallring {
                position: absolute;
                top: -25px;
                left: calc(50% - 25px);
                width: 50px;
                height: 50px;
                background-color: gray;
                border-radius: 50%;
                border: 10px solid lighten($color: gray, $amount: 45%);
                box-shadow: 0 0 0 2px gray;

            }


            .pricelist___plan-title {
                text-transform: uppercase;
                padding: 1em;
            }

            .pricelist__plan-price {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 1em;

                .pricelist__circle {
                    width: 5em;
                    height: 5em;
                    border: 1px solid gray;
                    border-radius: 50%;
                    text-transform: uppercase;
                    background-color: #f9f9f9;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                .pricelist__circle p:first-child {
                    font-size: 1em;
                    font-weight: bold;
                }

                .pricelist__circle p:nth-child(2) {
                    font-size: 0.5em;
                }
            }

            .pricelist__plan-text {
                line-height: 2em;
                font-size: 1em;
                background-color: #ccc;
            }

            .pricelist__plan-text:nth-child(even) {
                background-color: #e5e4e2;
            }

            .price__list-buttonwrapper {
                flex-grow: 1;
                /* kontener */
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                padding: 1em;

                .price__list-button {
                    @include main-button ($main-color, white);
                }
            }
        }

        .pricelist___plan--standard {
            background-color: $main-color;

            .pricelist___plan-title {
                color: white;
            }

            .price__list-buttonwrapper {
                .price__list-button {
                    @include main-button (white, $main-color)
                }
            }
        }
    }
}