.products {
    @include section-stack (white);
    display: flex;
    flex-direction: column;

    .products__picture {
        flex-basis: 30%;
        padding: 1em;

        img {
            width: 100%;
        }
    }

    .products__article {
        flex-basis: 30%;
        border: 1px solid gray;
        padding: 1em;

        .products__article-title {
            font-weight: bold;
            border-bottom: 6px solid $main-color;
            padding: 0.5em;
            margin-bottom: 0.5em;
        }

        .products__article-text {
            padding: 0 1em;
        }
    }
}

@media #{$desktop} {
    .products {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 1em;
    }
}