.slider {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);

    .slider__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1em;
        padding: 1em;

        .slider__gallery {
            width: 100%;

            .slider__picture {
                width: 100%;
                height: 100%;
            }
        }

        .slider__article {
            width: 100%;
            font-size: 3rem;
            text-align: center;
            padding: 0 2em;

            .slider__article-title {
                text-transform: uppercase;
                font-size: 1.5em;
                font-weight: bold;
            }

            .slider__article-text {
                padding: 1em;
            }

            .slider__article-button {
                @include main-button ($main-color, white);
                margin-bottom: 1em;
            }

        }
    }

}



.fa-angle-left,
.fa-angle-right {
    display: none;
}